/* Base styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* Base styles for the hero section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  color: black;
  position: relative;

}

/* Centered content container */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%; /* Content takes up 70% of the hero section's width */
  gap: 36px;
  z-index: 2;
}

.backdrop {
  position: absolute;
  z-index: 0; /* Below content */
  display: block;
  width: 15%; /* Responsive size */
}
.board {
  transform: rotate(-18deg);
  /* Use percentage (%) for left property to make it relative to the container's width */
  left: 10%; /* Adjust as needed */
  top: 5%; /* Adjust as needed */
  max-width: 180px ;
}

.study {
  transform: rotate(10deg);
  top: 10%;
  left: 70%; /* Adjust as needed */
  max-width: 200px;
}

.trophy {
  transform: rotate(20deg);
  top: 70%;
  left: 55%; /* Adjust as needed */
  max-width: 184px;
}

.card {
  top: 60%;
  left: 15%; /* Adjust as needed */
  max-width: 180px;
}

.star {
  top: 34%;
  left: 11%; /* Adjust as needed */
  max-width: 94px;
}

.calculator {
  transform: rotate(-30deg); /* Correct the rotation */
  top: 42%;
  left: 67%; /* Adjust as needed */
  max-width: 180px;
}
@media (max-width: 768px) {
  .backdrop {
    /* Scale down icons */
    transform: scale(0.8);
  }
}


@media (max-width: 600px) {
  .backdrop {
    display: none;
  }

  .content-container {
    width: 100%;
  }
}