.hero-section{
    background-color: #fefbff;
    /* delete color later */
    color: black; 
    height: 828px;
    width: 100%;
    top: 152px;
    left: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -2;
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1248px;
    height: 333px;
    top: 399px;
    left: 96px;
    gap: 36px;
}
.title {
    font-family: 'Poppins', sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: center;
    width: 992px;
  }
  
  .title-part1 {
    /* Additional styles if needed for the first part */
    color: #080808
  }
  
  .title-part2 {
    background: linear-gradient(90deg, #583AFE 0%, #EA0038 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* This will make the text take the color of the background */
    display: inline; /* Ensure the background spans only the text */
  }
  
  .subtitle {
    color: #505055;
    min-width: 500px;
    max-width: 576px;
    height: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
  }
  .sign-up-cta {
    position: relative;
    width: 576px;
    min-height: 64px; 
    background: #EFEEF6; /* This is the background color of the input field */
    border-radius: 12px; /* Match the border radius of the input field */
    box-sizing: border-box;
    border: none !important;
  }
  
  .email-input {
    width: 100%;
    height: 100%;
    padding-right: 120px; /* Make room for the button */
    border: none !important;
    outline: none !important;
    border-radius: 12px;
    padding-left: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #BCBBC3;
    background-color: transparent; /* Make the input field transparent */
    box-sizing: border-box; /* Include padding in the width */
  }
  
  
  .button-input {
    position: absolute;
    right: 16px; /* Distance from the right edge of the container */
    top: 50%;
    transform: translateY(-50%); /* Center the button vertically */
    background: #583AFE;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    /* dont capitalize the text */
    text-transform: none;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 20px;
    cursor: pointer; 
    box-shadow: none;
  }
  
  .backdrop{
    position:absolute;
    z-index: 1;
    top: 20px; 
  }
  .board {
    rotate: -18deg;
    left: 293.53px;
    top: 90px;
  }
  .study{
    rotate: 10deg;
    top: 60px;
    left: 945px;
  }

  .trophy{
    rotate: 20deg;
    top: 685px;
    left: 738px;
  }

  .card{
    top: 600px;
    left:156px;
  }
  .star{
    top:340px;
    left:110px;
  }

  .calculator{
    rotate: 330deg;
    top: 420px;
    left: 900px;
  }
