.sign-up-cta {
    width: 80%; /* Responsive width */
    max-width: 576px; /* Maximum width */
    margin: 0; /* Centering it */
    position: relative;
    background: #EFEEF6;
    border-radius: 12px;
  }
  
  .email-input {

    padding: 0 16px;
    padding-right: 50px;
    font-size: 1vw; /* Adjust font size based on screen width */
    color: #BCBBC3;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-right: 20px;
  }
  
  .button-input {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: #583AFE;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1vw; /* Adjust font size based on screen width */
    padding: 8px 20px;
    cursor: pointer;
    border: none;
    text-transform: none;
    box-shadow: none;
  }
  